---
title: HOA Meetings
layout: default
---

{% include nav.html %}

<h2>HOA Meetings</h2>

The next meeting of the Applewood HOA is June 5th 2018 at 6:00pm. The
meeting will be held at the pool house. Should a need arise to reschedule
the make up date will be June 12th 2018 at 6:00pm.

<h2>Meeting Minutes</h2>

<ul class="posts">
{% for post in site.posts %}
  <li>
    <a href="{{ post.url }}" title="{{ post.title }}">
      <h3>{{ post.title }} - {{ post.date | date_to_string }}</h3>
    </a>
    <div class="clearboth"></div>
  </li>
{% endfor %}
</ul>
