---
title: HOA Meetings
layout: default
---

{% include nav.html %}

<h2>HOA Meetings</h2>

The next meeting of the Applewood HOA is May 19th 2018 at 3:00pm
at the Applewood pool. Should the weather be poor the backup date is
May 20th 2018 at 3:00pm. This meeting is open to all residents and
will include refreshments. We will hold annual general elections
for the HOA board at this time as well.

<h2>Meeting Minutes</h2>

<ul class="posts">
{% for post in site.posts %}
  <li>
    <a href="{{ post.url }}" title="{{ post.title }}">
      <h3>{{ post.title }} - {{ post.date | date_to_string }}</h3>
    </a>
    <div class="clearboth"></div>
  </li>
{% endfor %}
</ul>
